.header {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.logo {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 4px;
    filter: brightness(0.8);
    position: relative;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.download {
    color: #fefffe;
}
.logo:hover {
    filter: brightness(0.4);
}

.logo > span {
    color: #ff3297;
    text-shadow: none;
}
.navbarlist {
    list-style: none;
    color: #fefffe;
    display: flex;
    gap: 40px;
}

.listItem {
    color: #fefffe;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    filter: brightness(0.8);
    letter-spacing: 1px;
}

.link {
    cursor: pointer;
}

.listItem:hover {
    filter: brightness(0.6);
}
.listItem:hover::after {
    transform: scale(1);
}
.listItem::after {
    content: "";
    width: 100%;
    height: 4px;
    transform: scale(0);
    transform-origin: right;
    background-color: #ff3297;
    display: block;
    transition: all 0.3s ease-in-out;
}

.listItem > a {
    color: inherit;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.closeItem {
    display: none;
}

.downloadCV {
    display: flex;
    align-items: center;
    gap: 20px;
    filter: brightness(0.8);
    /* overflow: hidden; */
    cursor: pointer;
    margin-top: -5px;
    position: relative;
}

.cvPopup {
    position: absolute;
    top: 100%;
    width: 300px;
    height: 0;
    background-color: #101110;
    left: -50%;
    display: flex;
    flex-direction: column;
    background-color: #303531;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.downloadCV:hover .cvPopup {
    height: 130px;
}

.cvPopupInnerRow {
    width: 100%;
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.cvPopupIcon {
    justify-self: last baseline;
    margin-right: 20px;
}
.cvPopupIcon * {
    fill: tomato;
}
.cvPopupLink {
    color: #fefffe;
    width: 100%;
    display: flex;
    align-items: center;
}
.cvPopupInnerRow:hover {
    background-color: #101110;
}

.downloadLabel {
    opacity: 0;
    transform-origin: right;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
}

.downloadCV:hover .downloadLabel {
    opacity: 1;
    transform: translateX(0);
}

.langChoice {
    display: flex;
    align-items: center;
    gap: 10px;
    filter: brightness(0.8);
    margin-top: -4px;
    z-index: 1;
    position: relative;
    width: 36px;
    cursor: pointer;
}
.langInput {
    border: none;
    padding: 0;
    background-color: transparent;
    color: #fefffe;
    margin: 0;
    text-transform: uppercase;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
}

.downArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    pointer-events: none;
}

.langInput > option {
    color: #101110;
}

@media (max-width: 768px) {
    .cvPopup {
        position: fixed;
        top: 130%;

        transform: translateX(-49%);
    }

    nav {
        gap: 20px;
    }
    .downloadLabel {
        display: none;
    }
    .navbar {
        gap: 20px;
    }
    .navbarlist {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #101110;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transform: translateY(-100%);
        transition: all 0.8s ease-in-out;
        z-index: 999;
    }

    .menu {
        gap: 20px;
        height: fit-content;
    }
    .navbarlistActive {
        transform: translateY(0);
    }

    .listItem {
        font-size: 24px;
    }
    .hamburger {
        display: block;
        margin-top: -3px;
    }

    .closeItem {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 575px) {
    .logo > span {
        display: none;
    }

    .logo {
        font-size: 18px;
    }
}
